<div class="editor-container">
  <div class="action-buttons-wrapper">
    <button
      mat-button
      color="primary"
      [disabled]="selectedHerb && herbForm.invalid"
      (click)="add()"
    >
      ÚJ GYÓGYNÖVÉNY
    </button>
    <button
      mat-button
      color="warn"
      [disabled]="!selectedHerb"
      (click)="delete()"
    >
      TÖRLÉS
    </button>
  </div>
  <div class="button-wrapper">
    <input
      #fileInput
      hidden="true"
      type="file"
      (change)="load($event)"
    />
    <button mat-flat-button color="accent" (click)="load()">
      BETÖLTÉS
    </button>
    <button
      mat-raised-button
      color="primary"
      class="save-button"
      (click)="save()"
      [disabled]="herbs.length === 0"
    >
      MENTÉS
    </button>
  </div>
  <div *ngIf="herbs.length > 0" class="herb-editor-form-wrapper">
    <mat-form-field>
      <mat-label>Gyógynövény</mat-label>
      <mat-select
        [(ngModel)]="selectedHerbIndex"
        (selectionChange)="updateHerbForm()"
      >
        <mat-option *ngFor="let herb of herbs; let i = index" [value]="i">
          {{ herb.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <form [formGroup]="herbForm">
      <div *ngFor="let item of formTest" class="herb-editor-form-field-wrapper">
        <ng-container [ngSwitch]="item.type">
          <mat-form-field *ngSwitchDefault>
            <input
              formControlName="{{ item.key }}"
              [placeholder]="item.name"
              matInput
            />
          </mat-form-field>

          <mat-form-field *ngSwitchCase="formType.TEXTAREA">
            <textarea
              matInput
              cdkTextareaAutosize
              [placeholder]="item.name"
              formControlName="{{ item.key }}"
            >
            </textarea>
          </mat-form-field>

          <div
            *ngSwitchCase="formType.INPUT_ARRAY"
            class="herb-editor-form-array"
          >
            <ng-container formArrayName="{{ item.key }}">
              <div
                *ngFor="
                  let formArrayItem of getArrayControl(item.key);
                  index as i
                "
                class="herb-editor-form-array-field-wrapper "
              >
                <mat-form-field>
                  <input
                    [formControlName]="i"
                    matInput
                    [placeholder]="item.name"
                  />
                </mat-form-field>
                <button
                  color="warn"
                  mat-button
                  class="delete-form-array-item-button"
                  (click)="deleteItem(item.key, i)"
                >
                  TÖRLÉS
                </button>
              </div>
            </ng-container>
            <div>
              <button mat-button color="primary" (click)="addNewItem(item.key)">
                ÚJ KÉP
              </button>
            </div>
          </div>

          <mat-form-field *ngSwitchCase="formType.SELECT">
            <mat-select
              formControlName="{{ item.key }}"
              [placeholder]="item.name"
            >
              <mat-option *ngFor="let value of item.values" [value]="value">
                {{ value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>
    </form>
  </div>
</div>
