.herb-editor-form-wrapper {
  padding: 40px;
}

.herb-editor-form-field-wrapper {
  display: flex;
  flex-direction: column;
}

.herb-editor-form-array {
  margin: 20px 0;
}

.herb-editor-form-array-field-wrapper mat-form-field {
  width: 90%;
}

.button-wrapper {
  float: right;
}

.save-button {
  margin: 10px;
}

.action-buttons-wrapper {
  padding: 0 30px;
  display: inline-block;

  button {
    margin: 0 5px;
  }
}

.delete-form-array-item-button {
  float: right;
}